name: phpstan

on: pull_request

jobs:
  vanilla:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: pwd; find  ./
      - run: docker run --rm -v `pwd`:/app -w /app ghcr.io/phpstan/phpstan analyse -c ./conf/phpstan.neon
